@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(125deg, #e61b36, #9c1032);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 580px;
    width: 360px;
    background: linear-gradient(125deg, #ced6e0, #dfe4ea);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    position: absolute;
    top: -40px;
    left: 55px;
    height: 80px;
    width: 250px;
    background: #333;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.note {
    font-size: 1.2rem;
    color: #2d3436;
    margin-bottom: 40px;
}

.form-control {
    position: relative;
    height: 50px;
    width: 100%;
    border: none;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.btnlogin {
    margin: 20px 0;
    padding: 15px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(125deg, #e61b36, #9c1032, #e61b36);
    background-size: 200%;
    font-size: 1.5;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.btnlogin:hover {
    background-position: right;
}

a {
    text-decoration: none;
    color: #9c1032;
}

.rigister {
    font-size: 1.5;
}